<h2>You've been tagged in this submission:</h2>

<%= image_tag @submission.image(:thumb_300) %>

<%= form_tag approve_submission_path(@submission), method: :post %>
	<%= collection_select(:profile, :id, @profiles, :id, :name, {:selected => current_profile.id } ) %>
	<%= submit_tag 'This is correct' %>
</form>

<%= form_tag decline_submission_path(@submission), method: :delete %>
	<%= submit_tag 'I do not wish to be tagged' %>
</form>

