<div class="profile-pic">
	<%= link_to(img_tag(comment.profile_pic.url), comment.profile.url) %>
</div>
<div class="name"><%= link_to(comment.profile.name, comment.profile.url) %></div>
<div class="vote">
	<span></span>
</div>
<div class="bubble">
	<div class="text"><div class="talk-notch"></div>
		<%= marked(comment.body) %>
	</div>
	<div class="comment-stats">
		<%= Locale.get('imaginate.posted_now') %>
	</div>
</div>
<div class="controls">
	<a href="<%= comment.comments_path %>" class="reply"><span><%= Locale.get('imaginate.reply_action') %></span></a>
	<a href="<%= comment.path %>" class="delete"><span><%= Locale.get('imaginate.delete_action') %></span></a>
</div>
<div class="clear"></div>
